<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- load the properties file --> 
	<context:property-placeholder location="classpath:courses.properties"></context:property-placeholder>
	<!--  define the dependency -->
	<bean id="myTeacher" class="trusohamn.dependency.BadOne">
	</bean>
	<!--  define the bean -->
    <bean id="myCourse" class="trusohamn.firstSpring.Biology">
	    <!--  setup constructor injection -->
	    <constructor-arg ref="myTeacher"></constructor-arg>
    </bean>
    
    <bean id="myTeacher2" class="trusohamn.dependency.GoodOne">
	</bean>
    <!--  define the bean -->
    <bean id="myCourse2" class="trusohamn.firstSpring.Chemistry">
	    <!--  setup setter injection -->
	    <property name="teacher" ref="myTeacher2"></property>
	    <!--  setup literal injection -->
	    <property name="email" value="themail@gmail.com"></property>
    </bean>
    
    <bean id="myTeacher3" class="trusohamn.dependency.GoodOne">
	</bean>
    <!--  define the bean -->
    <bean id="myCourse3" class="trusohamn.firstSpring.Chemistry">
	    <!--  setup setter injection -->
	    <property name="teacher" ref="myTeacher3"></property>
	    <!--  setup literal injection -->
	    <property name="email" value="${foo.email}"></property>
    </bean>
    
</beans>
